{**
 * For the full copyright and license information, please view
 * the file license.txt that was distributed with this source code.
 *
 * @author Martin Štekl <martin.stekl@gmail.com>
 * @since 2011.06.26
 * @license MIT
 * @copyright Copyright (c) 2011, 2012 Martin Štekl <martin.stekl@gmail.com>
 *}

{**
 * Template for groups control.
 *}
{snippet}
	{foreach $control->components as $control}
		{control $control}
	{/foreach}
	{control paginator}
{/snippet}
