{**
 * For the full copyright and license information, please view
 * the file license.txt that was distributed with this source code.
 *
 * @author Martin Štekl <martin.stekl@gmail.com>
 * @since 2011.06.26
 * @license MIT
 * @copyright Copyright (c) 2011, 2012 Martin Štekl <martin.stekl@gmail.com>
 *}

{**
 * Template for group control.
 *
 * @param string $actionViewItems Action for show items in group
 * @param string $actionEditGroup Action for group edit
 * @param bool $isAdmin If it is TRUE show admin buttons
 * @param array $group Data for group
 *}
<li n:snippet="group" class="span2 thumbnail">
	<a href="{plink $actionViewItems, id => $group['gallery_id']}">
		{? $image_path = '../files/gallery/' . ($group['namespace'] ? $group['namespace'].'/' : '') . $group['gallery_id'].'/'.$group['title_filename']}
		{$image_path|resize:'170x125'}
	</a>
	<div class="caption">
		<h5>{$group['title']}</h5>
		<p n:if="$group['description']">{$group['description']}</p>
		<p>{$group['photo_count']} fotek</p>
		<div n:if="$isAdmin" class="btn-group">
			<a n:href="toggleActive, id => $group['gallery_id']" class="ajax btn" title="Změnit viditelnost">
				<i n:class="$group['is_active'] ? 'icon-eye-open' : 'icon-eye-close'"></i>
			</a>
			<a href="{plink $actionEditGroup, id => $group['gallery_id']}" class="btn" title="Upravit">
				<i class="icon-pencil"></i>
			</a>
			<a n:href="delete, id => $group['gallery_id']" class="ajax btn" title="Smazat">
				<i class="icon-remove"></i>
			</a>
		</div>
	</div>
</li>
