{*
 * @param string $actionGallery
 * @param string $actionEditGallery
 * @param array $galleries
 * @param string $filesBaseUri
 * @param bool $isAdmin
 *}

{if $galleries}
{snippet gallery-table}
<table class="galleries">
	<colgroup>
		<col style="width: 165px;" />
		<col style="width: 165px;" />
		<col style="width: 165px;" />
		<col style="width: 165px;" />
		<col style="width: 165px;" />
	</colgroup>
	<tbody>
		<tr>
			{foreach $galleries as $gallery}
				{if $iterator->getCounter() > 1 && $iterator->getCounter() % 5 == 1}
		</tr>
		<tr>
				{/if}
			<td title="{$gallery['description']} ({$gallery['photo_count']} fotek)">
				<a href="{plink $actionGallery, id => $gallery['gallery_id']}">
					<img class="thumbnail" src="{$filesBaseUri}/{$gallery['gallery_id']}/thumbnails/{$gallery['title_filename']}" alt="" />
					<span>{$gallery['title']}</span>
				</a>
				{if $isAdmin}
				<span class="actions">
				<a n:href="toggleActive, id => $gallery['gallery_id']" onclick="return!nette.action(this);" title="Změnit viditelnost">
					<img src="{$baseUri}/images/{if $gallery['is_active']}eye.png{else}eye-close.png{/if}" alt="Změnit viditelnost">
				</a>
				<a href="{plink $actionEditGallery, id => $gallery['gallery_id']}" title="Upravit">
					<img src="{$baseUri}/images/pencil.png" alt="Upravit">
				</a>
				<a n:href="delete, id => $gallery['gallery_id']" onclick="return!nette.action(this);" title="Smazat">
					<img src="{$baseUri}/images/cross.png" alt="Smazat">
				</a>
				</span>
				{/if}
			</td>
			{/foreach}
		</tr>
	</tbody>
</table>
{/snippet}
{else}
<p>No gallery was found.</p>
{/if}
