.groups, .items {
	border: 0;
	margin: 0;
}

.groups td, .items td {
	padding: 0.5em 0.8em;
	vertical-align: top;
	text-align: center;
}

.groups a, .items a {
	display: block;
	text-decoration: none;
}

.groups a:hover span, .items a:hover span {
	text-decoration: underline;
}

.groups img, .items img {
}

.groups span, .items span {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
	font-size: 12px;
	text-align: left;
	width: 100%;
}

.groups td a:hover p, .groups td a:hover small, .items td a:hover p, .items td a:hover small {
	text-decoration: underline;
}

.groups a .thumbnail, .items a .thumbnail {
	margin: 8.8px;
	box-shadow: 0 0 12px #888;
	-moz-box-shadow: 0 0 12px #888;
	-webkit-box-shadow: 0 0 12px #888;
}

.groups a:hover .thumbnail, .items a:hover .thumbnail {
	text-decoration: none;
	box-shadow: 0 0 12px #333;
	-moz-box-shadow: 0 0 12px #333;
	-webkit-box-shadow: 0 0 12px #333;
}

.groups span.actions, .items span.actions {
	text-align: center;
	display: inline-block;
	width: auto;
}

.groups span.actions a, .items span.actions a {
	float: left;
	margin-right: 0.5em;
}
